<html>

  <style media='screen'>

      body {
        background-color: #<%= @brand.primary_color_hex %>;
      }

      h2 {
        color: #<%= @brand.secondary_color_hex %>;
        padding: 5px 5px 20px 5px;
        border-radius: 2px;
      }

      h5 {
        color: #<%= @brand.secondary_color_hex %>;
        padding: 5px 5px 20px 5px;
        border-radius: 2px;
      }

      h3 {
        color: #<%= @brand.tertiary_color_hex %>;
        padding: 5px 5px 20px 5px;
        border-radius: 2px;
      }

      p {
        color: #<%= @brand.tertiary_color_hex %>;
        padding: 5px 5px 20px 5px;
        border-radius: 2px;
      }

  </style>


  <h2>Welcome to the <%= @brand.name %> boxing service</h2>

  <h3><%= @brand.description %></h3>

  <h5>We will mail you neat, interesting collections, and hand picked... packages full of <%= @brand.name %></h5>

  <p>
    We will mail you some of this!
  </p>

  <ul>
    <% @brand.items.each do |item| %>
      <li>
        <%= item.name %>
      </li>
    <% end %>
  </ul>

</html>
